@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;700&display=swap');

*{
    font-family: Montserrat;
    margin: 0;
    padding: 0;
}

.box-img img {
    width: 150px;

}
nav {
    height: 90px;
    display: flex;
    align-items: center;
    padding: 15px 30px;
    background-color: #fc6c04;
    justify-content: space-between;

}

#btn{
    width: 150px;
    height: 50px;
    border : none;
    font-size: 15px;
    font-weight: 700;
    border-radius: 40px;
    cursor: pointer;
}
#btn:hover{
    color: white;
    background-color: black;
}

body {
    background-color: orange; 
}

.area-venda  img {
    width: 400px;
    border: black 10px solid;
}

.area-venda {  
    display: flex;
    padding: 30px ;
    color: black;
    gap: 30px;
}
 
.area-venda h3 {
    font-size: 50px;
}

#Sobre {
    font-size: 25px;
}

#Enredo {
    font-size: 27px;
  
}

#tEnredo{
    margin-top: 30px;
}

